<!DOCTYPE html>

<html lang="en-us">
  <head>
    <meta charset="utf-8" />

    <title>
      <% if (currGame == "") { %>
        Leaderboards
      <% } else { %>
        Leaderboards: <%= currGame %>
      <% } %>
    </title>

    <link rel="stylesheet" type="text/css" href="/css/semantic.min.css" />
    <link rel="stylesheet" type="text/css" href="/css/dropdown.min.css" />
    <link rel="stylesheet" type="text/css" href="/css/base.css" />

  </head>
  <body>

    <!-- grid layout ---------------------------------------------------------->
    <div class="ui padded relaxed grid centered master">


      <!-- header row --------------------------------------------------------->
      <div id="row-header" class="row column centered">
        <h1 class="ui icon header">

          <i class="globe icon"></i>

          <div class="content">
            Leaderboards
            <div class="sub header">
              A test api built with Node.js and Sequelize
            </div>
          </div>

        </h1>
      </div>


      <!-- game input row ----------------------------------------------------->
      <div id="row-game" class="row centered">
        <div class="eight wide computer sixteen wide mobile column">

          <form id="form-game" class="ui form">
            <div class="inline fields">

              <div class="twelve wide field">
                <label>Create new game:</label>
                <input name="input-game" type="text" autocomplete=off
                  placeholder="Ex: Apex Legends">
              </div>

              <div class="field">
              <div class="ui buttons">
                <button name="submit-createGame" onclick="this.active=true"
                  class="ui positive button">Create</button>
                <div class="or"></div>
                <button name="submit-deleteGame" onclick="this.active=true"
                  class="ui button">Delete selected game</button>
              </div>
            </div>

            </div>
          </form>

        </div>
      </div>


      <!-- content row -------------------------------------------------------->
      <div class="row column centered">

        <!-- game selection --------------------------------------------------->
        <div class="eight wide computer sixteen wide mobile column">
          <select id="input-gameSelect" class="ui dropdown">
            <!-- placeholder -->
            <option value>Please create a game to continue.</option>

            <% for (var i = 0; i < gameList.length; i++) { %>
              <% if (gameList[i] == currGame) { %>
                <!-- if current game, select -->
                <option value="<%= i+1 %>" selected><%= gameList[i] %></option>
              <% } else { %>
                <option value="<%= i+1 %>"><%= gameList[i] %></option>
              <% } %>
            <% } %>
          </select>
        </div>


        <br />
        <br />


        <!-- score table ------------------------------------------------------>
        <div class="eight wide computer sixteen wide mobile column">
          <table class="ui celled padded very basic table">

            <thead>
                <tr>
                  <th>Username</th>
                  <th>Score</th>
                  <th>Delete</th>
                </tr>
            </thead>

            <tbody>

              <% for (var i = 0; i < entryData.length; i++) { %>
              <tr>
                <td class="entry-username"><i class="user icon"></i>
                  <%= entryData[i].user_name %></td>
                <td class="entry-score"><%= entryData[i].score %></td>
                <td class="entry-delete collapsing">
                  <i class="x icon"></i>
                </td>
              </tr>
              <% } %>

            </tbody>

            <tfoot>
              <tr><th colspan="3">

                <!-- user/score input row ------------------------------------->
                <form id="form-userScore" class="ui form">
                  <div class="inline fields">

                    <div class="eight wide field">
                      <label>Username:</label>
                      <input name="input-user" type="text" autocomplete=off
                        placeholder="Ex: TheLegend27">
                    </div>

                    <div class="eight wide field">
                      <label>Score:</label>
                      <input name="input-score" type="number" autocomplete=off
                        placeholder="Ex: 1234">
                    </div>

                    <button name="submit-createUserScore"
                      class="ui positive button">Add</button>

                  </div>
                </form>

              </th></tr>
            </tfoot>

          </table>
        </div>

      </div>


      <!-- footer row --------------------------------------------------------->
      <div class="row column centered">
        <p><i class="github icon"></i><a
          href="https://github.com/bossley9/leaderboard/">@bossley9</a></p>
      </div>


    </div>


    <script src="/js/jquery-3.3.1.min.js"></script>
    <script src="/js/semantic.min.js"></script>
    <script src="/js/dropdown.min.js"></script>

    <script>

/*
      var substringMatcher = function(strs) {
        return function findMatches(q, cb) {
          var matches, substringRegex;

          // an array that will be populated with substring matches
          matches = [];

          // regex used to determine if a string contains the substring `q`
          substrRegex = new RegExp(q, 'i');

          // iterate through the pool of strings and for any string that
          // contains the substring `q`, add it to the `matches` array
          $.each(strs, function(i, str) {
            if (substrRegex.test(str)) {
              matches.push(str);
            }
          });

          cb(matches);
        };
      };

      var userList = [];
      <% for (var u in userList) { %>
        userList.push("<%= userList[u] %>");
      <% } %>


      $('input.input-username').typeahead({
        hint: true,
        highlight: true,
        minLength: 1
      },
      {
        name: 'userList',
        source: substringMatcher(userList)
      });
*/

      // -----------------------------------------------------------------------
      // Semantic Ui
      // -----------------------------------------------------------------------

      $('select').dropdown();

      // -----------------------------------------------------------------------
      // <Select> change
      // -----------------------------------------------------------------------

      $('#input-gameSelect').on('change', function () {
        var gameName = this.options[this.selectedIndex].text;
        window.location = "/leaderboards/entries/" + gameName;
      });

      // -----------------------------------------------------------------------
      // CREATE/DELETE game
      // -----------------------------------------------------------------------

      $('#form-game').on('submit', function() {
        var form = document.getElementById("form-game").elements;
        /* input game */
        var inputGame = form["input-game"].value;
        /* current game */
        var gameSelect = document.getElementById("input-gameSelect");
        var currentGame = gameSelect.options[gameSelect.selectedIndex].text;
        /* button submit */
        var createGame = form["submit-createGame"];
        var deleteGame = form["submit-deleteGame"];

        // detect which form button was pressed

        if (createGame.active) {
          if (game.length > 40) {
//          M.toast({html: 'game name can only be a max of 40 characters', classes: errorClasses});
          } else if (game.length == 0) {
//          M.toast({html: 'game name field cannot be empty', classes: errorClasses});
          } else {

            $.ajax({
              type: 'POST',
              url: '/leaderboards/api/createGame',
              data: { game: inputGame },
              success: function(data) {
                if (data.valid)
                  window.location = "/leaderboards/entries/" + data.game;
              },
            });

          }
        }

        else if (deleteGame.active) {
          if (gameSelect.firstElementChild.dataset.invalid == "true") {
//          M.toast({html: 'please first create a valid game', classes: errorClasses});
          } else {

            $.ajax({
              type: 'DELETE',
              url: '/leaderboards/api/deleteGame',
              data: { game: currentGame },
              success: function(data) {
                if (data.valid && data.game.length > 0)
                  window.location = "/leaderboards/entries/";
              },
            });

          }
        }

        return false;
      });

      // -----------------------------------------------------------------------
      // CREATE user/score
      // -----------------------------------------------------------------------

      $('#form-userScore').on('submit', function() {
        var form = document.getElementById("form-userScore").elements;
        /* current game */
        var gameSelect = document.getElementById("input-gameSelect");
        var currentGame = gameSelect.options[gameSelect.selectedIndex].text;
        /* input username */
        var username = form["input-user"].value;
        /* input score */
        var score = form["input-score"].value;

        if (gameSelect.firstElementChild.dataset.invalid == "true") {
//          M.toast({html: 'please first create a valid game', classes: errorClasses});
        } else if (username.length < 3) {
//          M.toast({html: 'username must be at least 3 characters in length', classes: errorClasses});
        } else {
          $.ajax({
            type: 'POST',
            url: '/leaderboards/api/createUserScore',
            data: {
              game: currentGame,
              username: username,
              score: score,
            },
            success: function(data) {
              if (data.valid && data.user == username && data.score == score)
                location.reload();
            },
          });

        }

        return false;
      });

      // -----------------------------------------------------------------------
      // DELETE user/score
      // -----------------------------------------------------------------------

      $('td.entry-delete').on('click', function() {
        var gameSelect = document.getElementById("input-gameSelect");
        var curentGame = gameSelect.options[gameSelect.selectedIndex].text;
/*
        var username = $(this).prev().prev().text();
        var score = $(this).prev().text();

        $.ajax({
          type: 'DELETE',
          url: '/leaderboards/api/deleteUserScore',
          data: {
            game: game,
            username: username,
            score: score,
          },
          success: function(data) {
            if (data.valid && data.score > 0) location.reload();
          },
        });
        */

        return false;
      });

    </script>
  </body>
</html>
